<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="nknk.opus.project.address.model.mapper.AddressMapper">

	<select id="selectAddresses">
		SELECT ADDRESS_NO, RECIPIENT, RECIPIENT_TEL, POSTCODE, 
		BASIC_ADDRESS, DETAIL_ADDRESS, IS_DEFAULT, DELIVERY_REQ
		FROM ADDRESS
		WHERE MEMBER_NO = #{memberNo}
	</select>
   
</mapper>