<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="nknk.opus.project.admin.model.mapper.AdminMapper">
	<select id="getReport">
		SELECT REPORT_NO, REPORT_REASON, REPORT_DETAIL, REPORT_DATE, REPORT_STATUS, REPORTER_NO, REPORTED_NO, REVIEW_NO
		FROM REPORT
	</select>
	
	<update id="confirmReview">
		UPDATE REPORT
		SET REPORT_STATUS = 'APPROVED'
		WHERE REPORT_NO = #{reportNo}
	</update>
	
	<update id="updateReviewDelFl">
		UPDATE REVIEWS
		SET REVIEW_DEL_FL = 'Y'
		WHERE REVIEW_NO = (
			SELECT REVIEW_NO FROM REPORT
			WHERE REPORT_NO = #{reportNo}
		)
	</update>
	
	<delete id="cancleReview">
		DELETE FROM REPORT
		WHERE REPORT_NO = #{reportNo}
	</delete>
</mapper>