<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="nknk.opus.project.admin.model.mapper.AdminMapper">
	<select id="getReport">
		SELECT REPORT_NO, REPORT_REASON, REPORT_DETAIL, REPORT_DATE, REPORT_STATUS, REPORTER_NO, REPORTED_NO, REVIEW_NO
		FROM REPORT
		WHERE REPORT_STATUS = 'PENDING'
	</select>
	
	<update id="hideReview">
		UPDATE REVIEWS
		SET REVIEW_DEL_FL = 'Y'
		WHERE REVIEW_NO = (
			SELECT REVIEW_NO FROM REPORT
			WHERE REPORT_NO = #{reportNo}
		)
	</update>
	
	<update id="confirmReview">
		UPDATE REPORT
		SET REPORT_STATUS = 'APPROVED'
		WHERE REPORT_NO = #{reportNo}
	</update>
	
	<delete id="rejectReview">
		UPDATE REPORT
		SET REPORT_STATUS = 'REJECTED'
		WHERE REPORT_NO = #{reportNo}
	</delete>
	
	<select id="getRestore">
		SELECT REVIEW_NO, MEMBER_NO, MEMBER_EMAIL, STAGE_NO, REVIEW_CONTENT, REVIEW_WRITE_DATE, REVIEW_UPDATE_DATE
		FROM REVIEWS
		JOIN MEMBER USING (MEMBER_NO)
		WHERE REVIEW_DEL_FL = 'Y'
	</select>
	
	<update id="restoreReview">
		UPDATE REVIEWS
		SET REVIEW_DEL_FL = 'N'
		WHERE REVIEW_NO = #{reviewNo}
	</update>
</mapper>