<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="nknk.opus.project.board.model.mapper.BoardMapper">

	<resultMap id="boardDetailMap" type="Board">
		<id property="boardNo" column="BOARD_NO" />

		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="writerCompany" column="WRITER_COMPANY" />
		<result property="boardWriteDate" column="BOARD_WRITE_DATE" />
		<result property="boardViewCount" column="BOARD_VIEW_COUNT" />
		<result property="boardCategory" column="BOARD_CATEGORY" />
		<result property="boardTypeCode" column="BOARD_TYPE_CODE" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="boardName" column="BOARD_NAME" />

		<collection property="imageList" ofType="BoardImg"
			column="BOARD_NO" select="selectBoardImageList" />
	</resultMap>

	<select id="selectBoardList" resultType="Board">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		B.WRITER_COMPANY,
		B.BOARD_WRITE_DATE,
		B.BOARD_VIEW_COUNT,
		B.BOARD_CATEGORY,
		I.BOARD_IMG_PATH,
		I.BOARD_IMG_RE
		FROM "BOARD" B
		LEFT JOIN "BOARD_IMAGE" I ON (I.BOARD_NO = B.BOARD_NO AND
		I.BOARD_IMG_ORDER = 0)
		WHERE B.BOARD_DEL_FL = 'N'
		AND B.BOARD_TYPE_CODE
		= #{boardTypeCode}
		<choose>
			<when test="sort == 'view'">
				ORDER BY B.BOARD_VIEW_COUNT DESC, B.BOARD_NO DESC
			</when>
			<otherwise>
				ORDER BY B.BOARD_WRITE_DATE DESC, B.BOARD_NO DESC
			</otherwise>
		</choose>
	</select>

	<select id="selectBoardDetail" resultMap="boardDetailMap">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		B.BOARD_CONTENT,
		B.WRITER_COMPANY,
		B.BOARD_WRITE_DATE,
		B.BOARD_VIEW_COUNT,
		B.BOARD_CATEGORY,
		B.BOARD_TYPE_CODE,
		B.MEMBER_NO,
		(SELECT BOARD_NAME FROM BOARD_TYPE BT WHERE BT.BOARD_TYPE_CODE =
		B.BOARD_TYPE_CODE) AS BOARD_NAME
		FROM "BOARD" B
		WHERE B.BOARD_DEL_FL =
		'N'
		AND B.BOARD_NO = #{boardNo}
	</select>

	<select id="selectBoardImageList" resultType="BoardImg">
		SELECT
		BOARD_IMG_NO,
		BOARD_NO,
		BOARD_IMG_PATH,
		BOARD_IMG_OG,
		BOARD_IMG_RE,
		BOARD_IMG_ORDER
		FROM "BOARD_IMAGE"
		WHERE BOARD_NO = #{value}
		ORDER BY BOARD_IMG_ORDER ASC
	</select>

	<update id="updateViewCount">
		UPDATE "BOARD"
		SET BOARD_VIEW_COUNT = BOARD_VIEW_COUNT
		+ 1
		WHERE BOARD_NO = #{boardNo}
	</update>

	<insert id="insertBoard" parameterType="Board">
		<selectKey keyProperty="boardNo" resultType="int"
			order="BEFORE">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "BOARD" (
		BOARD_NO,
		BOARD_TYPE_CODE,
		MEMBER_NO,
		BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_CATEGORY,
		WRITER_COMPANY
		) VALUES (
		#{boardNo},
		#{boardTypeCode},
		#{memberNo},
		#{boardTitle},
		#{boardContent},
		#{boardCategory},
		#{writerCompany}
		)
	</insert>

	<insert id="insertImageLines">
		INSERT ALL
		<foreach collection="list" item="img">
			INTO "BOARD_IMAGE" (
			BOARD_IMG_NO,
			BOARD_NO,
			BOARD_IMG_PATH,
			BOARD_IMG_OG,
			BOARD_IMG_RE,
			BOARD_IMG_ORDER
			) VALUES (
			SEQ_BOARD_IMG_NO.NEXTVAL,
			#{img.boardNo},
			#{img.boardImgPath},
			#{img.boardImgOg},
			#{img.boardImgRe},
			#{img.boardImgOrder}
			)
		</foreach>
		SELECT 1 FROM DUAL
	</insert>

	<update id="updateBoard">
		UPDATE "BOARD"
		SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		BOARD_CATEGORY = #{boardCategory},
		WRITER_COMPANY = #{writerCompany},
		BOARD_UPDATE_DATE = SYSDATE
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_DEL_FL = 'N'
	</update>

	<update id="deleteBoard">
		UPDATE "BOARD"
		SET BOARD_DEL_FL = 'Y'
		WHERE BOARD_NO =
		#{boardNo}
	</update>

</mapper>