<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper
	namespace="nknk.opus.project.member.model.mapper.MemberMapper">

	<select id="login"
		resultType="nknk.opus.project.member.model.dto.Member">
		SELECT
		MEMBER_NO,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_TEL,
		MEMBER_ROLE, AUTHOR_LEVEL,
		ENROLL_DATE,
		MEMBER_DEL_FL
		FROM "MEMBER"
		WHERE
		MEMBER_EMAIL
		= #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<insert id="signup" parameterType="Member">
		INSERT INTO "MEMBER" (
		MEMBER_NO,
		MEMBER_EMAIL,
		MEMBER_PW,
		MEMBER_TEL,
		ENROLL_DATE,
		MEMBER_DEL_FL,
		AUTHOR_LEVEL,
		MEMBER_ROLE, LOGIN_TYPE ) VALUES (
		SEQ_MEMBER_NO.NEXTVAL,
		#{memberEmail},
		#{memberPw},
		#{memberTel},
		DEFAULT,
		DEFAULT,
		1,
		'MEMBER', 'NORMAL' )
	</insert>

	<update id="updateTel">
		UPDATE "MEMBER" SET
		MEMBER_TEL = #{memberTel}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<select id="checkTel" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_TEL = #{tel}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<select id="selectCurrentPw" resultType="string">
		SELECT MEMBER_PW
		FROM
		"MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{newPw}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<select id="getActiveTransactionCount" parameterType="int"
		resultType="int">
		SELECT
		-- 1. 경매 체크 (상태가 UPCOMING이거나 진행 중인 건)
		(SELECT COUNT(*)
		FROM AUCTION
		WHERE MEMBER_NO = #{memberNo}
		AND UNVEILING_STATUS =
		'UPCOMING')
		+
		-- 2. 주문 체크 (상태가 READY이거나 배송 중인 건)
		(SELECT COUNT(*)
		FROM
		"ORDER"
		WHERE MEMBER_NO = #{memberNo}
		AND ORDER_STATUS = 'READY')
		AS
		active_count
		FROM DUAL
	</select>

	<update id="withdrawMember" parameterType="int">
		UPDATE "MEMBER"
		SET
		MEMBER_DEL_FL = 'Y',
		WITHDRAWAL_DATE = SYSDATE
		WHERE MEMBER_NO =
		#{memberNo}
	</update>

	<select id="findByEmail" parameterType="string"
		resultType="Member">
		SELECT
		MEMBER_NO,
		MEMBER_EMAIL,
		MEMBER_ROLE, AUTHOR_LEVEL,
		LOGIN_TYPE, MEMBER_DEL_FL
		FROM MEMBER
		WHERE MEMBER_EMAIL =
		#{memberEmail}
		AND
		MEMBER_DEL_FL = 'N'
	</select>

	<select id="checkEmailExists" resultType="Member">
		SELECT * FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{email}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<insert id="insertMember" parameterType="Member">
		<selectKey keyProperty="memberNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER (
		MEMBER_NO,
		MEMBER_EMAIL,
		MEMBER_PW, MEMBER_TEL,
		MEMBER_ROLE,
		AUTHOR_LEVEL,
		LOGIN_TYPE, ENROLL_DATE,
		MEMBER_DEL_FL
		)
		VALUES
		(
		#{memberNo},
		#{memberEmail},
		#{memberPw}, #{memberTel}, #{memberRole},
		#{authorLevel},
		#{loginType},
		SYSDATE,
		'N'
		)
	</insert>

</mapper>